import { Options } from 'sequelize';

const sequelizeOptions: Options = {
  host: process.env?.DATABASE_HOST ?? '127.0.0.1',
  username: process.env?.DATABASE_USERNAME ?? 'postgres',
  password: process.env?.DATABASE_PASSWORD ?? '',
  database: process.env?.DATABASE_NAME ?? 'postgres',
  port: +String(process.env?.DATABASE_PORT ?? '5432'),
};

export default sequelizeOptions;
