'use strict';

/**
 * Apply the migration to the database.
 * @param {import('sequelize').QueryInterface} queryInterface - The Sequelize query interface.
 * @param {import('sequelize').Sequelize} Sequelize - The Sequelize instance.
 * @returns {Promise<void>}
 */
export async function up (queryInterface, Sequelize) {
{{ up }}
}

/**
 * Revert the migration from the database.
 * @param {import('sequelize').QueryInterface} queryInterface - The Sequelize query interface.
 * @param {import('sequelize').Sequelize} Sequelize - The Sequelize instance.
 * @returns {Promise<void>}
 */
export async function down (queryInterface, Sequelize) {
{{ down }}
}
