// classes
import { Model } from 'sequelize';

/**
 * Base repository class for Sequelize models.
 * @template T - The Sequelize model type.
 */
export default class RepositoryBase<T extends Model> {}
