// classes
import RepositoryBase from '../base/RepositoryBase';

// db
import { {{ modelName }}, type {{ modelName }}Attributes, type {{ modelName }}Instance } from '../models';

/**
 * Repository class for handling {{ modelName }} data operations.
 * Extends RepositoryBase to provide CRUD functionality for the {{ modelName }} model.
 */
export default class {{ modelName }}Repository extends RepositoryBase<{{ modelName }}> {
}
